<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @interview_question.question %>
</p>

<%= link_to 'Edit', edit_interview_question_path(@interview_question) %> |
<%= link_to 'Back', interview_questions_path %>
